<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock%}</title>
    
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.css" />
    <link rel="stylesheet" href="{{ url_for('static',filename='base.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d6c56eb978.js"></script>
    
    

    <nav class="navbar navbar-expand-lg global-nav-green global-nav-2018">
        <a class="navbar-brand" href="#">TripAdvisor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.restaurant_list') }}"><span class="incon-area"><i class="fas fa-search-minus"></i></span><br>美食地圖<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                {% if current_user.is_authenticated %}
                    <a class="nav-link" href="javascript:void(0)" onclick="reservation()"><span class="incon-area"><i class="fas fa-utensils"></i></span><br>線上訂位<span class="sr-only"></span></a>
                {% else %}
                    <a class="nav-link" href="javascript:void(0)" onclick="prohibit()"><span class="incon-area"><i class="fas fa-utensils"></i></span><br>線上訂位<span class="sr-only"></span></a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if current_user.is_authenticated %}
                    <a class="nav-link" href="javascript:void(0)" onclick="member()"><span class="incon-area"><i class="fas fa-user-friends"></i></span><br>會員專區<span class="sr-only"></span></a>
                {% else %}
                    <a class="nav-link" href="javascript:void(0)" onclick="prohibit()"><span class="incon-area"><i class="fas fa-user-friends"></i></span><br>會員專區<span class="sr-only"></span></a>
                {% endif %}
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.register') }}"><span class="incon-area"><i class="fas fa-sign-in-alt"></i></span><br>會員註冊<span class="sr-only"></span></a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}"><span class="incon-area"><i class="far fa-envelope"></i></span><br>會員簡介<span class="sr-only"></span></a>
            </li>
            {% endif %}
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
            <li><span class="incon-area"><i class="fas fa-user-circle"></i></span><br><a class="logout" href='javascript:void(0)' onclick="logout()">會員登出</a></li>
        {% else %}

        <form class="form-inline my-2 my-lg-0" id="navloginform">
            <div style="display: inline-block">
                <div class="input-group">
                    <div class="input-group-prepend input-area">
                        <span class="input-group-text" id="basic-addon2"><i class="fas fa-key"></i></span>
                    </div>
                    <input class="form-control mr-sm-2" type="text" placeholder="帳號" aria-label="帳號" id="nav-email">
                </div>
            </div>
            <div style="display: inline-block">
                <div class="input-group">
                    <div class="input-group-prepend input-area">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-unlock"></i></span>
                    </div>
                    <input class="form-control mr-sm-2" type="password" placeholder="密碼" aria-label="密碼" id="nav-password">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </div>
            </div>
            <div class="checkbox">
                <label>
                <input id="remember_me_1" name="remember_me" type="checkbox" value="y" id="nav-me"> 記住我
            </label>
            <input class="btn btn-default" name="submit1" type="submit" id="var-submit" value="登入">
        </form>
        
        {% endif %}
        </ul>

    </head>
    </nav>
    <body>
{% endblock %}


    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
    {{ message }}</div>
    {% endfor %}

    
    {% block content %}{% endblock %} 
    

    </body>
    </html>

{% block scripts %}
<script src="{{ url_for('static',filename='jquery-3.4.1.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.js" type="text/javascript"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script>


    var csrftoken = $('meta[name=csrf-token]').attr('content')
     
     $.ajaxSetup({
         beforeSend: function(xhr, settings) {
             if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                 xhr.setRequestHeader("X-CSRFToken", csrftoken)
             }
         }
     })


</script>
<script>

$(function(){
    navlogin()
 
})
    function navlogin(){
        $("#var-submit").click(function(e){
            e.preventDefault();
            var params= {
                "email":$("#nav-email").val(),
                "password":$("#nav-password").val(),
                "remember_me":$("#nav-me").val()
            }
            $.ajax({
                url:"/auth/login",
                data:params,
                type:"json",
                method:"post",
                success:function(response){
                    if (response.status == true){
                        swal("登入成功", "", "success")
                        setTimeout("location.href='/restaurant/list'",2000)                    
                    }else{
                        swal(response.errmsg,"","error")
                    }
                }
            })
        })
    }


    function logout(){
        $.get("/auth/logout","",function(response){
            swal('成功登出', '', 'success')
            setTimeout("location.href='/restaurant/list'",2000) 
        })
    }


    function prohibit(){
        swal("立即登入或註冊，查看更多內容","","error","5000")
    }


    function reservation(){
        window.location.href="{{ url_for('booking.reservation', restaurant='八里老漁村') }}"
    }


    function member(){
        window.location.href="{{ url_for('auth.my') }}"
    }
    
</script>

{% endblock %}