{% extends "base.html" %}


{% block head %}
{{ super() }}
<meta name="csrf-token" content="{{ csrf_token() }}">
<link rel="stylesheet" href="{{ url_for('static', filename='restaurant.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.css" />

{% endblock %}

{% block content %}




<div id="all">
    <h1 id="head">大台北美食餐廳 Taipei</h1>
    <div class="wrap">
    
    <div style="margin-left:10px;">
        <div class="input-group mb-10" id="key_block">
            <span class="input-group-text"><i class="fas fa-keyboard"></i></span>
            <input type="text" class="form-control" id="input_search" placeholder="請輸入查詢關鍵字">
        </div>
    </div>
    <div style="display: inline-block; margin-top:15px; margin-left:10px;">
        <div class="input-group mb-3" id="city_area">
            <div class="input-group-append">
                <label class="input-group-text" for="inputGroupSelect02"><i class="fas fa-city"></i></label>
            </div>
                <select class="custom-select" id="filter-city">
                    <option value="0" selected>---請選擇城市---</option>
                    <option value="1">台北市</option>
                    <option value="2">新北市</option>
                </select>
            </div>
        

        <div class="input-group mb-3" id="district_area">
            <div class="input-group-append">
                <label class="input-group-text" for="inputGroupSelect02"><i class="fab fa-twitter"></i></label>
            </div>
            <select class="custom-select" id="filter-area">
                <option value="0" selected>---請選擇---</option>
            </select>
        </div>
    </div>
    <div style="display: inline-block; margin-left:70px;">
        <div class="input-group mb-3">
            <div class="input-group-append" id="food-block">
                <label class="input-group-text" for="inputGroupSelect02"><i class="fas fa-utensils"></i></label>
            </div>
            <select class="custom-select" id="food_type">
                <option value="0" selected>---請選擇---</option>
                <option value ="台灣小吃/台菜">台灣小吃/台菜</option>
                <option value ="日式料理">日式料理</option>
                <option value ="中式料理">中式料理</option>
                <option value = "咖啡廳">咖啡廳</option>
                <option value = "海鮮">海鮮</option>
            </select>
        </div>

        <div class="input-group mb-3" id="filter-block">
            <div class="input-group-append">
                <label class="input-group-text" for="inputGroupSelect02"><i class="fas fa-search"></i></label>
            </div>
            <select class="custom-select" id="filter">
                    <option value ="評論數">評論最多</option>
                    <option value ="評分數">評分愈高</option>
            </select>
        </div>    
    </div>
    

    <div id="search">搜索條件:
        <span id="area"></span>
        <span id="food"></span>
        <span id="result"></span>
    </div>
    <nav aria-label="Page navigation example" class="page-top-area">
        <ul class="pagination"></ul>
    </nav>

    <div id="show">
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody id="search_result">
            
            </tbody>
        </table>
    </div>
    
    <nav aria-label="Page navigation example" class="page-area">
    <ul class="pagination"></ul>
    </nav>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
          
</div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static',filename='jquery-3.4.1.min.js') }}"></script>
{{ super() }}


<script src="{{ url_for('static',filename='jquery.pagination.js') }}"></script>
<script src="https://kit.fontawesome.com/d6c56eb978.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.js" type="text/javascript"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<script>
var page=1
$(function(){
    Load(page)
    filter()
    search()
    input()
    $('[data-toggle="tooltip"]').tooltip(); 
})





function Load(page){
    $.get("/restaurant/filter",page,function(response){
        render(response)
        love()
        var totalPages = response.total_page
        var totalData = totalPages*30
        initPagination(300, 30)
       
    })                       
}

function render(response){
    if (response.errno==1){
        if (response.data.length>0){
            $("#search_result").empty()
            $.each(response.data,function(key,value){
                var $tr =" ";
                $tr +=  "<tr id='data'>"+
                        "<td id='picture'><img src="+value.info_url+"></td>"+
                        "<td>"+
                            "<div class='content'>"+
                                    "<div>"+
                                        "<div class='title-container'><b class='title'>"+ value.title +"</b></div>"+    
                                        "<div class='go' data-toggle='tooltip' data-placement='top' title='立即查看'><a class='look' href='javascript:void(0)' onclick='click_restaurant(this)'>立即查看</a></div>"+
                                        "<div class='love' onclick='like(this)' data-toggle='tooltip' data-placement='top' title='"+value.love+"'><i class='fas fa-thumbs-up'></i>"+value.love+"</div>"+
                                    "</div>"+
                
                                "<div class='rate_count_block'>"+
                                    "<div class='rating_block'><i class='fas fa-circle'></i><i class='fas fa-circle'></i><i class='fas fa-circle'></i><i class='fas fa-circle'></i><i class='fas fa-circle'></i>"+
                                    "<span class='count'>"+ value.rating_count +"則評論</span></div>"+
                                    "<div class='count_block'><i class='far fa-eye'></i>瀏覽量:"+value.count+"</div>"+   
                                "</div>"+

                                "<div class='address'><li><i class='fas fa-globe-americas' style='margin-right:8px'></i>"+ value.street +"</li>"+
                                    "<div><i class='fas fa-phone' style='margin-right:8px'></i>"+ value.cellphone +"</div>"+
                                "</div>"+
                                "<div class='comment'>"+ value.comment +"</div>"+   
                            "</div>"+  
                        "</td>"+
                    "</tr>"
                $("#search_result").append($tr)
            })
        }
    }
}

function initPagination(count, pagesize){
    $('.pagination').pagination({
            totalData: count,
            showData: pagesize,
            autoHidePrevious: true,
            autoHideNext: true,
            callback: function (api) {
                var params = {
                    "page":api.getCurrent()
                }
                $.get("/restaurant/filter",params,function(response){
                    render(response)
                })
            }

        });
}              

function click_restaurant(obj){
    $(this).off("click").one("click",function(event){
        event.stopPropagation();
        if ($.cookie('username')==null || undefined){
        swal("立即註冊開通專屬會員資格","享有更多會員權限","error","5000")
        }else{
            event.stopPropagation();
            var restaurant = $(obj).parent().prev().children(".title").text()
            $.get("/read/count/"+restaurant,function(){
            window.location.href = "/restaurant/"+restaurant;
            })
        }
        
    })
}


function filter(){
    var cities = [["---請選擇---"],["大安","信義區","萬華","松山","士林","中正區","大同","中山區","南港"],
                       ["蘆洲","三重","板橋","新莊","中和","永和","新店","土城","淡水","五股"]]
    $("#filter-city").change(function(){
        var val=$("#filter-city").val();
        $("#filter-area").empty();
        $.each(cities,function(i,n){
            if(val==i){
                $.each(cities[i],function(j,m){
                    var $option =" ";
                        $option +="<option>"+m+"</option>"
                    $("#filter-area").append($option) 

                })
            }
        })
    }
)}

function input(){
        $("#input_search").focus(function(){
        var curValue=$(this).val();
        if(curValue==this.defaultValue){
            $(this).val("");
        }
    });
    $("#input_search").blur(function(){
       var curValue=$("#input_search").val();
        if($.trim(curValue)==""){
        }else{
            return curValue
        }
    });
}


function search(){

    $("#district_area, #filter-area, #food_type, #filter,#input_search").on('change',function(){
        var area = $("#filter-area").val();
        var food = $("#food_type").val();
        var filter = $("#filter").val();
        var keyword = $("#input_search").val();
        if (undefined == area, 0==area) area="";
        if (undefined == food, 0==food ) food="";
        if (undefined ==filter) filter="";
        if (undefined ==keyword) keyword="";
        $("#area").html(area)
        $("#food").html(food)
        $('#result').html(filter)
        
        var params ={
                "area":area,
                "food":food,
                "filter":filter,
                "keyword":keyword
            }
            swal({ 
                title: "資料加載中，請稍後",  
                type: "success", 
                showLoaderOnConfirm: true, 
            },
            function(){ 
                setTimeout(function(){  
            }, 2000);
            });
        $.ajax({
            url:"/restaurant/search",
            data:params,
            method:"get",
            success:function(response){
                if (response.errno==1){
                    render(response)
                    love()
                    var totalPages = response.total_page
                    var totalData = totalPages*30
                    var params= response.params
                    searchPagination(totalData, 30, params)
                }else{
                    swal({
                        title:"未查到符合您需求的餐廳",
                        text: "請再查找一次",
                        type: "info",
                        showLoaderOnConfirm: true,
                        closeOnConfirm: false,
                    })
                    $("#input_search").val("")
                }
            }
        })

    })
}   

function searchPagination(count, pagesize, filter){
    $('.pagination').pagination({
            totalData: count,
            showData: pagesize,
            callback: function (api) {
                filter.page = api.getCurrent()
                $.get("/restaurant/search",filter,function(response){
                    render(response)
                })
            }

    });
}          

function love(){
    var love = $(".love").text()
    $(".love").each(function() {
        var love = $(this).text();
        if (love=="已收藏"){
            $(this).css("color","#078171")
        }
    })
}

function like(obj){
    $(this).off("click").one("click",function(event){
        event.stopPropagation();
        if ($.cookie('username')==null || undefined){
        swal("立即註冊開通專屬會員資格","享有更多會員權限","error","5000")
        }else{
            event.stopPropagation();
            var like = $(obj).text()
            var title = $(obj).parent().children().children(".title").text()
            if (like=="收藏"){
                $.get("/restaurant/like/"+title, function(){
                    alert("關注成功")
                    $tr = "<sapn class='love' onclick='like(this)' style='color:#078171'><i class='fas fa-thumbs-up'></i>"+"已收藏"+"</span>"
                    $(obj).html($tr)
                }.bind(obj)
                )
            }else{
                $.get("/restaurant/unlike/"+title,function(){
                    alert("取消關注")
                    $tr = "<span class='love' onclick='like(this)'><i class='fas fa-thumbs-up'></i>"+"收藏"+"</span>"
                    $(obj).html($tr)
                }.bind(obj)
            ) }    
        }
        
    })
    
}


</script>

{% endblock %}