{% extends "base.html" %}

{% block head %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    
    
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='booking.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.css" />
{% endblock %}




{% block title %}寫評論 {% endblock %}
{% block content %}
<div class="all">
    <div id="booking">

        <form action="" method="post" class="form" role="form" id="commentform">
            <div class="outer-box">
                {% if restaurant %}
                <div id="title_name">{{ restaurant["title"] }}</div>
                <div><i class="fas fa-globe-americas"></i>{{ restaurant["address"] }}</div>
                {% else %}
                <div id="title_name">八里老漁村</div>
                <div><i class="fas fa-globe-americas"></i>八里區觀海大道5號3樓</div>
                {% endif %}
            </div>
            <img src="{{ restaurant['image'] }}" alt="" class="image img-thumbnail">
            <hr>
            <div>請將您的實際造訪感想填入下列表格。期待您的分享，謝謝。</div>
            
            
            <label class="control-label" for="rating">您對此餐廳的整體評等</label>
            <div class="input-group mb-3 form-group">
                <select class="custom-select form-control" id="rating" name="rating" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <div class="input-group-append">
                    <label class="input-group-text" for="inputGroupSelect02"><i class="fas fa-star"></i></label>
                </div>
            </div>


            <label class="control-label" for="booking_date">您的評論標題</label>
            <div class="input-group mb-3 form-group  required">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-pen"></i></span>
                </div>
                <input type="text" class="form-control" id="review_title" name="review_title" required value="">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </div>

       

            <div class="form-group  required"><label class="control-label" for="review_content">您的評論內容</label>        
                <textarea class="form-control" name="review_content" id="review_content" cols="30" rows="10"></textarea>
            </div>


            <label class="control-label" for="type">此次隨行的同伴是</label>
            <div class="input-group mb-3 form-group  required">
                <select class="custom-select form-control" id="type" name="type" required>
                    <option value="1" selected>伴侶旅行</option>
                    <option value="2">家庭式</option>
                    <option value="3">朋友</option>
                    <option value="4">商務</option>
                    <option value="5">單獨旅行</option>
                </select>
                <div class="input-group-append">
                    <label class="input-group-text" for="inputGroupSelect02"><i class="fas fa-user-friends"></i></label>
                </div>
            </div>

            <label class="control-label" for="booking_date">您的造訪日期是?</label>
            <div class="input-group mb-3 form-group  required">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" class="form-control" id="booking_date" name="booking_date" required type="text" value="">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </div>

            <div>
                <div>更多的資訊提供與評等 (選填)</div>
                <label class="control-label" for="takeout">這間餐廳是否提供外帶？</label>
                <div class="input-group mb-3 form-group  required">
                    <select class="custom-select form-control" id="takeout" name="takeout" required>
                        <option value="1" selected>是</option>
                        <option value="2">否</option>
                    </select>
                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02"><i class="far fa-thumbs-up"></i></label>
                    </div>
                </div>

                <label class="control-label" for="vegetable">需要不含麩質飲食的人士是否可在這間餐廳享用美味餐點？</label>
                <div class="input-group mb-3 form-group  required">
                    <select class="custom-select form-control" id="vegetable" name="vegetable" required>
                        <option value="1" selected>是</option>
                        <option value="2">否</option>
                    </select>
                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02"><i class="far fa-thumbs-up"></i></label>
                    </div>
                </div>

                <label class="control-label" for="service">這間餐廳是否提供外送服務？</label>
                <div class="input-group mb-3 form-group  required">
                    <select class="custom-select form-control" id="service" name="service" required>
                        <option value="1" selected>是</option>
                        <option value="2">否</option>
                    </select>
                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02"><i class="far fa-thumbs-up"></i></label>
                    </div>
                </div>
               
                <label class="control-label" for="disabled">這間餐廳是否有無障礙通行設施？</label>
                <div class="input-group mb-3 form-group  required">
                    <select class="custom-select form-control" id="disabled" name="disabled" required>
                        <option value="1" selected>是</option>
                        <option value="2">否</option>
                    </select>
                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02"><i class="far fa-thumbs-up"></i></label>
                    </div>
                </div>
            </div>
            
            <div><hr>
                <label class="control-label" for="star1">服務</label>
                    <div class="input-group mb-3 form-group">
                        <select class="custom-select form-control" id="star1" name="star1" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02"><i class="far fa-smile"></i></label>
                        </div>
                    </div>

                <label class="control-label" for="star2">食物</label>
                    <div class="input-group mb-3 form-group">
                        <select class="custom-select form-control" id="star2" name="star2" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02"><i class="far fa-smile"></i></label>
                        </div>
                    </div>

                <label class="control-label" for="star3">划算度</label>
                    <div class="input-group mb-3 form-group">
                        <select class="custom-select form-control" id="star3" name="star3" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02"><i class="far fa-smile"></i></label>
                        </div>
                    </div>
             
            
                <div class="form-group"><label class="control-label" for="star3">這間餐廳價位如何</label>     
                    <select class="form-control" id="star3" name="star3" required><option value="1">便宜餐館</option><option value="2">中等價位</option>
                        <option value="3">高級餐廳</option>
                    </select>
                </div>
                <div class="form-group  required"><label class="control-label" for="recommend_dish">您推薦哪種或哪些菜餚</label>        
                    <input class="form-control" id="recommend_dish" name="recommend_dish" type="text" value="">  
                </div>
                <input class="btn btn-default" id="submit" name="submit" type="submit" value="提交">
                <input id="id" name="" type="hidden" value="{{ restaurant['id'] }}">
            </div>
        </form>
    </div>

    {% if comment %}
    <div class="comment_block">
        <div id="title_name">此餐廳近期的評論</div>
        {% for c in comment %}
        <div class="inner-box">    
            <div class="rating-title">
                <div data-toggle="tooltip" title="立即查看作者首頁" style="display:inline-block;font-size:12px"><a href="/user/{{ c['author'] }}" class="author-link">{{ c["author"] }}</a></div>
                <div style="display: inline-block"><span style="display:none" class="rating">{{ c["rating"] }}</span></div>
                <div>
                    <div class="title">{{ c["title"] }}</div>
                </div> 
            </div>
            <div class="content">{{ c["content"] }}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static',filename='jquery-3.4.1.min.js') }}"></script>
    {{ super() }}
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.js" type="text/javascript"></script>
    <script type="text/javascript">
    $('#booking_date').datepicker({
        "dateFormat": "yy-mm-dd",
        language: "zh-CN",
        minDate: 0, maxDate: "+1M +10D"
        });
    </script>
    <script>
        var csrftoken = $('meta[name=csrf-token]').attr('content')
     
        $.ajaxSetup({
        
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
     
    </script>
    <script>
    $(function(){
        

        $("#commentform").submit(function(e){
            e.preventDefault();
            var id = $("#id").val()
            var title = $("#title_name").text()
            $.ajax({
                method:"post",
                data:$("#commentform").serialize(),
                dataType: "json",
                url: "/comment/edit/"+id,
                success:function(response){
                    swal({ 
                        title: "感謝您撥空填寫問卷", 
                        text: "期待下次再為您服務",
                        type: "success"
                    });
                    setTimeout(1000);
                    location.href='/restaurant/'+title
                }
            })
        })
    })
    
    </script>
    <script>
    $(function(){
        $(".rating").each(function() {
        var rating = $(this).text();
        for (var i=0;i<rating;i++){
            $tr= '<i class="fas fa-circle"></i>'
            $(this).parent().append($tr).css("color","#078171").css("font-size","12px")
        }
        for (var j=0;j<5-rating;j++){
            $td = '<i class="far fa-circle"></i>'
            $(this).parent().append($td).css("color","#078171").css("font-size","12px")
        }
    })

    })

    
    
    </script>
    <script>
    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>

{% endblock %}