.all{
    display: inline-flex;;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap
}


#booking1{
    color:#000a12;
    font-weight: 700;
    width: 600px;
    margin-left: 300px;
    margin-top:25px;
    background-color: white;
    font-family:Microsoft JhengHei;
}

#booking{
    color:#000a12;
    font-weight: 700;
    width: 600px;
    margin-left: 300px;
    margin-top:25px;
    background-color: white;
    font-family:Microsoft JhengHei;
}
img{
    width:200px;
    height:150px;
    display: inline-block;
}
.author-link{
    color:#000a12;
}


.outer-box{
    display: inline-block;
}
#title{
    padding-top:25px;
    text-align:center;
    color: #078171;
    font-size: 25px;
    font-weight: 700;
}

#content{
    margin-left: auto;
    margin-right: auto;
    width:500px;
}
#select{
    background: #fffffe;
    padding: 10px;
    width:500px;
    border:#ced4da solid 1px;
    line-height:1.2
}
#select1{
    margin-bottom:5px;
}
.mbe-contact{
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
    width:500px;
    border: #f2f2f2 solid 1px;
    padding-bottom: 20px;
    padding-top:20px;
}
#number{
    padding-top: 10px;
}
#submit{
    color: #fff;
    font-size:18px;
    background-color: #078171;
    border-color: #078171;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    height:35px;
    width:500px;
}

.form-control{
    width: 500px;
    margin-left: auto;
    margin-right: auto 
}


.form{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: #000a12;
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-right:10px;
}

#head{
    border-color: #fc0 #e4a000 #e4a000 #fc0;
    background-color: #fc0;
    padding-top:1.5px;
    color: #000;
    font-size:18px;
    padding-bottom: 1.5px;
    text-align: center
}


#title_name{
    padding-right: 12px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    padding-top: 12px;
    color: #078171;
    text-align: center
}




.rating-title{
    display:inline-block;
    padding-top:10px;
    padding-left:10px;
}

.comment_block{
    width:300px;
    margin-right:100px;
    background-color: #fff;
    color:#000a12;
    font-weight: 700;
    margin-top:25px;
    margin-left:100px;
    font-family:Microsoft JhengHei;
}

.rating{
    display: inline-block;
    font-size:12px
}

.title{
    display: inline-block;
    font-size:12px
}

.content{
    margin-top:5px;
    width:300px;
    padding-left:10px;
}

.inner-box{
    margin-left:10px;
    margin-top:5px;
    border:solid #e5e5e5 2px;;
}

#revise{
    width:100px;
    background-color: #078171;
    color:#fff;
    text-align: center
}


.commentform{
    padding: 10px;
}