.login{
    margin-left: auto;
    margin-right: auto;
    width:450px;
    background-color: #fff
}

.member{
    padding-top:15px;
    color:inherit;
    text-align:center;
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: .5em;
    margin-top:50px;
}

form{
    margin-left: auto;
    margin-right: auto;
    width:400px;
    color: #000a12;
    font-size: 1rem;
    font-weight: 700;
}


#submit{
    color: #fff;
    font-size:18px;
    background-color: #078171;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    height:35px;
    width:400px;
}


.password{
    margin-top:20px;
    height:30px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
}

.user{
    display: inline;  
}

.forget{
    margin-left:180px;
    width:150px;
    text-align: center;
    color: #fff;
    background-color:  #4267b2;
    border-color: #4267b2 #2b416f #2b416f #4267b2;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
}


.register{
    margin-left:0px;
    width:150px;
    color: #fff;
    background-color:  #4267b2;
    border-color: #4267b2 #2b416f #2b416f #4267b2;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
}

