.form-area{
    margin-top:10px;
    width:700px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: Microsoft JhengHei;
}
.form{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #000a12;
    font-size: 16px;
    font-weight: 700;
    
}

.colHeader{
    padding-top: 40px;
    margin-left: 50px;
    font-size: 25px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    font-weight: 700;
    color: #078171;
    padding-bottom: 20px;
}

#submit{
    color: #fff;
    font-size:18px;
    background-color: #078171;
    border-color: #078171;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    height:35px;
    width:600px;
    
}

.form-control{
    width: 600px;
    margin-left: auto;
    margin-right: auto 
}

.captche{
    margin-top:10px;
    display: inline-block;
    width:200px;
}
.captche_image{
    display: inline-block;
    margin-bottom:20px;
    margin-left:20px;
}

#imagecode{
    padding-top:5px;
    text-align:center
}
image{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.inner-box-revise{
    display: inline-block
}


.outer-box{
    border: solid #e5e5e5 2px;
}


.query{
    margin-bottom:50px;
}

#captche_area{
    display: inline-block;
}