{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='login.css') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}



{% block content %}
<div class="login">
    <div class="member"><h3>修改密碼</h3></div>
    <form method="post" id="resetform">
        <label class="control-label" for="email">E-mail</label>
        <div class="form-group  mb-3 form-group required">
            <div class="input-group-prepend">    
                <span class="input-group-text" id="basic-addon1"><i class="far fa-envelope"></i></span>
                <input class="form-control" id="email" name="email" required type="text" value="">
            </div> 
        </div>


        <label class="control-label" for="cellphone">手機</label>
        <div class="form-group  mb-3 form-group required">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-mobile-alt"></i></span>
                <input class="form-control" id="cellphone" name="cellphone" required type="text" value="">
            </div>  
        </div>







    <div id="captche_area">
    <label class="control-label" for="captche" >圖形驗證碼</label>
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-unlock-alt"></i></span>
            <input type="text" class="get_pic_code" name="imagecode" id="imagecode">
        </div>
    </div>
    <div onclick="generateImageCode()" class="pic_area">
        <img src="" class="get_pic_code"><br/>
    </div>
   

    <input class="btn btn-default" id="submit" name="submit" type="submit" value="驗證個人訊息">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>

  
    <form method="post" id="passwordform" style="display:none">
    <div class="form-group  required"><label class="control-label" for="password">請輸入密碼</label>        
        <input class="form-control" id="password" name="password" required type="password" value="">      
    </div>
    <div class="form-group  required"><label class="control-label" for="password2">請確認密碼</label>
        <input class="form-control" id="password2" name="password2" required type="password" value="">  
    </div>
    <input class="btn btn-default" id="submit1" name="submit" type="submit" value="確認修改密碼">
    </form>



</div>







{% endblock %}



{% block scripts %}
<script src="{{ url_for('static',filename='jquery-3.4.1.min.js') }}"></script>
{{ super() }}
<script>
        var csrftoken = $('meta[name=csrf-token]').attr('content')
     
        $.ajaxSetup({
        
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
     
</script>

<script>
// 保存圖片驗證碼編號
imageCodeId = "";

function generateUUID() {
    var dt = new Date().getTime();
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (dt + Math.random()*16)%16 | 0;
        dt = Math.floor(dt/16);
        return (c=='x' ? r :(r&0x3|0x8)).toString(16);
    });
    return uuid;
}


function generateImageCode(){
    imageCodeId = generateUUID();
    url="/api/image_codes/"+imageCodeId;
    $(".get_pic_code").attr("src",url);
}

$(document).ready(function(){
    generateImageCode();
    $("#passwordform").hide()
    $("#imagecode").focus(function(){
        $("image-code-err").hide();
    });
})

$(function(){
    $("#resetform").submit(function(e){
        e.preventDefault();
        var imageCodeid = imageCodeId
        var cellphone = $("#cellphone").val()
        var email = $("#email").val()
        var imageCode = $("#imagecode").val()
        if (!imageCode){
            swal("請填寫驗證碼","","error")
        }
        
        params={
            "image_code_id":imageCodeid,
            "image_code":imageCode,
            "cellphone":cellphone,
            "email":email
        }
        $.ajax({
                method:"post",
                dataType: "json",
                data:params,
                url: "/auth/captcha/check",
                success:function(response){
                    console.log(response)
                    if(response.errno==1){
                        $("#passwordform").show()
                        $("#resetform").hide()
                    }else{
                        if(response.errmsg=="數據錯誤"){
                            
                            swal("驗證碼輸入錯誤，請重新再試","","error")
                            history.go(0)
                            $("#imagecode").val("")
                        }else{
                            swal("查無該用戶，請再次確認手機號碼與Email","","error")
                            $("#resetform").val("")
                            history.go(0)
                    }
                    }
                    
                    
                   
                }
            })
        
    })
})
$(function(){
    $("#passwordform").submit(function(e){
        e.preventDefault();
        var password = $("#password").val();
        var password2 = $("#password2").val();

        if (password != password2){
            swal("您兩次輸入密碼不一致","","error")
            history.go(0)
        }
        $.ajax({
            method:"post",
            url:"/auth/password/check",
            data:$("#passwordform").serialize(),
            dataType: "json",
            success:function(response){
                swal("成功修改密碼","","success")
                window.location.href="/auth/my"
            }
        })

    })
})


</script>
{% endblock %}