<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body{
        background-color: black ;
        width:900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

    li{
        display: inline;
    }
    img{
        height:200px;
        
    }
    span{
        color: white
    }
    </style>
</head>
<body>
    <div class="wrap">
        <ul>
            <li><img src="{{
                url_for('static', filename='壁虎互助商標.jpg') }}"><span>個人信息</span></li>
            <li><img src="{{
                url_for('static', filename='壁虎互助商標.jpg') }}"><span>我的圖片</span></li>
            <li><img src="{{
                url_for('static', filename='壁虎互助商標.jpg') }}"><span>用餐問卷</span></li>
            <li><img src="{{
                url_for('static', filename='壁虎互助商標.jpg') }}"><span>實名認證</span></li>
            <li><img src="{{
                url_for('static', filename='壁虎互助商標.jpg') }}"><span>評論區</span></li>
            <li><img src="{{
                url_for('static', filename='壁虎互助商標.jpg') }}"><span>會員登出</span>
            

        </ul>
    </div>
</body>
</html>
<script src="jquery-3.4.1.min.js"></script>
<script>
$(function(){
    
    // 獲取壁虎所在的li
    // $("#wrap li") //可以的 
    // $(".wrap").find(li) //可以的

    // 需求1: 
    $(".wrap").find("li").mouseenter(function(){
        //這個css方法有返回值，返回值就是設置這個方法的元素本身
        $(this).css("opacity",1).siblings('li').css("opacity",0.4)

    })
    // 需求2:
    $('.wrap').mouseleave(function(){
        //$('.wrap').find('li').css('opacity',1)
        $(this).find("li").css("opacity",1) //再這個離開事件中，this是整大盒子

    })

})

</script>