{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='register.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
{% endblock %}

{% block title %}用餐問卷{% endblock %}
{% block content %}
<div class="form-area">
    <div class=colHeader>顧客意見表</div>
    <div class=form>
    {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
    $('#date').datepicker({
        "dateFormat": "yy-mm-dd",
        language: "zh-CN",
        minDate: -20, maxDate: "+1M +10D"
        });
    </script>
{% endblock %}